/*ヘッダー*/
.p-header {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 24px;
}
.l-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.p-header__logo {
    width: 148px;
}
.p-header__logo {
    position: relative;
    z-index: 100;
}
img {
    max-width: 100%;
}
.p-header__button {
    display: none;
}
.p-header__inner {
    align-items: center;
    margin-left: auto;
    display: flex;
}
.p-header__nav__item__link {
    color: #666;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.5;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.p-header__nav__list {
    gap: 32px;
    display: flex;
}
.p-header__official {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-top: auto;

}
