/*すべてのページに適用される設定*/
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.15;
}
/*すべてのページに適用 - ヘッダー */
*{
    font-family: 'Noto Sans JP' , sans-serif;
    text-decoration: none;
    
}
.p-header__nav__list {
    display: flex;
    gap: 30px;
    text-decoration: none;
}
.p-header {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 10px;
}
.l-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index:    1000;
    height: 80px;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
.p-header_nav_list {
    display: flex;
    gap: 30px;
    font-weight: bold;
    color: #adadad;
    vertical-align: bottom; 
}
.p-header__nav__item__link {
    color: #666;
    text-decoration: none; 
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul,ol {
    list-style: none;
}
.p-header__log {
    margin-right: auto;
    text-decoration: none;
    
}
.p-header__nav__item {
    list-style: none;
    display: inline-block
    padding: 12px;
    color: #666;
    /*position: light;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 3;
    align-items: center;
    margin-left: auto;
}
.icon-twitter {
    align-items: center;
    border: solid 1px #eee;
    border-radius: 50%;
    color: #adadad;
    display: inline-flex;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.icon-instagram {
    align-items: center;
    border: solid 1px #eee;
    border-radius: 50%;
    color: #adadad;
    display: inline-flex;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    width: 50px;
}
.p-header__inner {
    align-items: center;
    margin-left: auto;
}
.p-header__nav__item {
    align-items: center;
    line-clamp: 50px;
}
.u-icon__twitter:before {
    content: "\ea96";
}
.u-icon__instagram::before {
    content: "\ea96";
}
.p-top-hero__body {
    text-decoration: none;
}
.p-header__official__link--line {
    background-color: #5FDF5B;
    border-radius: 5em;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 16px;
    position: relative;
    text-align: center;
    width: 100%;
}
body {
    padding: wight;
    color: #000;
}
#js-header.l-header.p-he {
    padding: 15px;
    color: springgreen;
}
.p-header__logo {
    width: 148px;
    position: relative;
    z-index: 100;
}
div.p-header__inner {
    display: flex;
    justify-content: space-between;
}
div.p-header__official {
    position: relative;
    bottom: 0;
    right: 0;
}
div.-line__body::before {
    background: #0071BCE6;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
.p-line__body::before {
    background-color: rgba(0, 113, 188, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.p-line__body {
    border-radius: 56px;
    padding: 68px;
}
.p-line__body {
    background: url(../img/bg-line.jpg) center center/cover;
    border-radius: 28px;
    overflow: hidden;
    padding: 42px 24px;
    position: relative;
}
.p-top-hero__body {
    border-radius: 24px;
    padding: 50px 62px;
    text-decoration: none;
}
.p-top-hero__body {
    align-self: center;
    background-color: #eff2f5;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.p-top-hero__body__title {
    color: #0071bc;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
}
.p-top-hero__body__catchcopy {
    font-size: 60px;
    letter-spacing: 0.05em;
    line-height: 1.3333;
    margin-top: 10px;
}
.p-top-hero__scroll {
    align-items: center;
    bottom: 24px;
    display: inline-flex;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 14px;
    gap: 6px;
    left: 32px;
    line-height: 1.5;
    position: absolute;
}
.p-top-hero__scroll::before {
    background-color: #ccc;
    border-radius: 8px;
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
}
.p-top-hero__inner {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}
.p-top-hero__image img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    margin-left: %;
    margin-right: -100%;
    max height : 680px;
}
.p-top-hero__image {
    border-radius: 80px 0 0 80px;
    margin-left: -100px;
    margin-right: -100px;
    max-height: 680px;
    display: block;
    overflow: hidden;
    
}
img {
    max-width: 100%;
}
.l-main {
    padding-top: 80px;
}











/*すべてのページに適用 - ヒーロー */
.l-container {
    padding: 0 24px;
}
.l-container {
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 16px;
    width: 100%;
}
.p-heading {
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p-top-about__body {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 42px;
    align-items: center;
    display: grid;
}
.p-heading__caption {
    margin-top: 8px;
}
.p-heading__caption {
    color: #0071bc;
    display: block;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 14px;
    letter-spacing: initial;
    line-height: 1.8;
    margin-top: 4px;
}
, table, blockquote, address, pre, iframe, form, figure, dl {
    margin: 0;
}
img {
    max-width: 100%;
}
svg, img, embed, object, iframe {
    vertical-align: bottom;
}


/*すべてのページに適用 - メイン */
.p-line {
    margin-top: 144px;
}
.l-container {
    padding: 0 24px;
}
.l-container {
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 16px;
    width: 100%;
}
.p-line__body {
    border-radius: 56px;
    padding: 68px;
}
.p-line__body__inner {
    position: relative;
}





.p-line__body::before {
    background-color: rgba(0, 113, 188, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.p-heading.-light {
    color: #fff;
}
.p-line__title {
    gap: 8px;
}
.p-heading {
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
.p-line__title {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}
.p-heading {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
}
.p-top-about__image {
    border-radius: 16px;
    overflow: hidden;
}
/*h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}*/
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
pre, iframe, form, figure, dl {
    margin: 0;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
.p-line__button {
    background-color: #fff;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.8;
    max-width: 320px;
    padding: 12px;
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.p-heading {
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    
}
.p-line__title {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}
.u-icon__line {
    background: radial-gradient(#fff 60%, transparent 60%);
    color: #00c300;
    content: url("../img/icon/icon-line.svg");
    width: 40px;
}
.u-icon__link::before {
    content: url("../img/icon/icon-link-gray-dark.svg");
}
.p-fixedLine {
    bottom: 16px;
    right: 16px;
    position: fixed;
}

.p-fixedLine__link {
    align-items: center;
    background-color: #5FDF5B;
    display: flex;
    text-decoration: none;
    border-radius: 16px;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
    padding: 22px 20px 22px 24px;
    /*position: fixed;*/
}
a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.p-fixedLine__link__text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.14em;
    line-height: 1.3;
    text-decoration: none;
    margin-left: 13px;
}

.p-fixedLine__link .u-icon__link {
    margin-left: 35px;
    font-size: 36px;
    color: #fff;
    font-size: 18px;
}
i, .icomoon-liga {
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-family: "posse-icon" !important;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: discretionary-ligatures;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none;
}

/*すべてのページに適用 - フッター */
.l-footer_p-footer {
    border-top: solid 1px #eee;
    text-align: center;
    
}

.p-footer__logo img {
    width: 12%;
}
img {
    max-width: 100%;
}

li.p-sns__item {
    /*display: flex;*/
    
}
.p-footer__siteinfo__link {
    color: #666;
    border-top: solid 1px #eee;
}
.p-footer__sns {
    display: flex;
    justify-content: center;
}
.p-footer__sns__list {
    /*display: flex;*/
    margin: 90px auto 90px auto;
    max-width: 1000px;
}
.p-footer__sns__list_p-footer__sns__list {
    /*display: flex;*/
}
.p-footer__sns__list_p-footer__sns__list {
    text-align: center;
    display: flex;
}

.p-footer__copyright {
    border-top: solid 1px #eee;
    color: #666
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    padding: 32px 24px;
    line-height: 1.5;
    padding: 38px 24px 33px;
    
}
div.p-footer__copyright{
    border-top: solid 1px #eee;
    color: #666666;
    
}

*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
.p-footer {
    margin-top: 72px;
    text-align: center;
    
}

/*個別のスタイル*/
/*kuizu.html*/


